<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express Backbone Starter!</title>
  <link rel="stylesheet" href="/dist/css/app.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <div id="app"></div>

  <script type="text/javascript" src="/dist/js/bundle.js"></script>
</body>
</html>
